<!DOCTYPE html>

<html>

<head>
    <title>student record</title>

</head>
  
<body>
          <li class="active"><a href="home">Home</a></li>
          <li><a href="/rec">View</a></li>
          <li><a href="/sef">Search</a></li>
          <li><a href="/stud">Add</a></li>
	  <li><a href="/del">Delete</a></li>
          <li><a href="/logout">Logout</a></li>
          
          
           

            </ul>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
  
  <!-- Begin page content -->
  <div class="container">
    <div class="page-header">
      <h1> Government Engineering Collage Sreekrishnapuram Students  Records</h1>
    </div>
  </div>
</div>

<div id="footer">
  <div class="container">
  </div>
</div>
 <script text="javascript">
document.body.style.backgroundImage="url('static/39.jpg')";
 </script>





  


    
<div align = 'center'>





</div>
</div>
 
</div>
  </div><!-- /.container-








<!-- Latest compiled and minified JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script-->

</body>
</html>





