<html>
<head>
<title> search </title>
</head>
<body>
          <li class="active"><a href="/home">Home</a></li>
          <li><a href="/rec">view</a></li>
          <li><a href="/sef">search</a></li>
          <li><a href="/stud">add</a></li>
	  <li><a href="/del">delete</a></li>
          
           
          </li>
      </div>
    </div>
  </div>
<div class = 'container'>
<div align ='center'>  
<form method="post" action='/ser'>
search<input type='text' name='search'>
<input type='submit'>
</div>
</div>



<!-- Latest compiled and minified JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
 <script text="javascript">
document.body.style.backgroundImage="url('static/17.jpg')";
 </script>
  


</body>
</form>
</html>

