<html>
<head>
<title> search </title>
</head>
<body>
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/rec">view</a></li>
          <li><a href="/ser1">search</a></li>
 
          
           
<div class = 'container'>
<div align ='center'>  
<form method="post" action='/ser1'>
search<input type='text' name='search'>
<input type='submit'>
</div>
</div>



<!-- Latest compiled and minified JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
 <script text="javascript">
document.body.style.backgroundImage="url('static/17.jpg')";
 </script>
  


</body>
</form>
</html>

